@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pepe {
  --tw-bg-opacity: 1;
  background-color: rgb(99 133 150 / var(--tw-bg-opacity));
}
.bg-right {
  background-position: right;
}

@keyframes down {
  0% {
    background-position: 100% 0;
  }

  to {
    background-position: 100% 100vh;
  }
}

.animate-down {
  animation: down 20s linear infinite;
}

@keyframes up {
  0% {
    background-position: 0 100vh;
  }

  to {
    background-position: 0 0;
  }
}

.animate-up {
  animation: up 20s linear infinite;
}
