@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pepe";
  src: url("../public/assets/Heyho-Regular.ttf.otf");
}

.bg-pepe {
  --tw-bg-opacity: 1;
  background-color: rgb(99 133 150 / var(--tw-bg-opacity));
}
.bg-right {
  background-position: right;
}

@keyframes down {
  0% {
    background-position: 100% 0;
  }

  to {
    background-position: 100% 100vh;
  }
}

.animate-down {
  animation: down 20s linear infinite;
}

@keyframes up {
  0% {
    background-position: 0 100vh;
  }

  to {
    background-position: 0 0;
  }
}

.animate-up {
  animation: up 20s linear infinite;
}

.css-1ugqqba {
  font-size: 30px !important;
}

.css-1lg62vy {
  font-size: 25px !important;
}

.css-1fs08e3 {
  font-size: 20px !important;
}

body {
  font-family: "Pepe", Arial, Helvetica, sans-serif;
}

.card-blur {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.517);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
